@font-face {
  font-family: 'Cabin-Regular';
  src: local('Cabin-Regular'), url(./fonts/Cabin-Regular.ttf) format('truetype')
}
@font-face {
  font-family: 'IBMPlexSans-Regular';
  src: local('IBMPlexSans-Regular'), url(./fonts/IBMPlexSans-Regular.ttf) format('truetype')
}

body {
  margin-left: 50px;
  font-family: IBMPlexSans-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin-Regular;
}
